* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bg-dull-gray {
  min-height: 100vh;
  background-color: #0b5b76;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.input-group {
  margin: 20px 0;
  max-width: 600px;
  width: 100%;
}

.card-body {
  background-color: #82b0b7;
  color: rgb(28, 10, 10) !important;
  border-radius: 10px;
  box-shadow: none !important;
}

.form-control {
  background-color: #82b0b7 !important;
  color: white !important;
  border-radius: 10px;

}

.search-input::placeholder {
  color: white !important;
  opacity: 0.75;
}

.btn-dull-gray {
  background-color: #82b0b7 !important;
  color: #000;
}

.search-icon {
  color: #ffffff;
}

.city-items{
  height: 500px;
}

.city-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.city-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.city-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.city-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}

.card {
  background-color: transparent !important;
}

.weather-container {
  display: flex;
  align-items: center;
}

.weather-container p {
  margin: 0;
}

.weather-container p:first-child {
  margin-right: 10px;
}

.weather-container img {
  width: 80px;
  height: 80px;
}

.current-weather-container img {
  width: 80px;
  height: 80px;
}

.temperature {
  font-size: 50px;
  line-height: 1;
  font-weight: 800;
}

.weather-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.current-weather-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.temperature-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.temperature-containers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.degree-symbol {
  font-size: 13px;
  line-height: 1;
}

.custom-card {
  height: 300px;
}

.forecast-card{
  height: 80px;
}

.copyright H2 {
  font-size: 1em;
}