/* src/App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-dull-gray {
  min-height: 100vh;
  /* Ensure the background color covers full viewport height */
  background-color: #415A55;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card,
.input-group {
  margin: 20px 0;
  /* Add some margin for spacing */
  max-width: 600px;
  width: 100%;
  /* Ensure full width within the container */
}

.card-body {
  background-color: #203a35;
  color: white !important;
  border-radius: 10px;
  box-shadow: none !important;
}


.form-control {
  background-color: #203a35 !important;
  color: white !important;
  border-radius: 10px;

}

/* src/components/SearchBar.css */
.search-input::placeholder {
  color: white !important;
  /* Set the placeholder color to white */
  opacity: 0.75;
  /* Optional: Adjust placeholder opacity */
}

.btn-dull-gray {
  background-color: #203a35 !important;
  color: #ffffff;
}

.search-icon {
  color: #ffffff;
}


/* src/components/MultipleCitiesWeather.css */
.city-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.city-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.city-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.city-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 500ms, transform 500ms;
}
